
#mainButton {
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color: rgb(46, 46, 46);
text-align:center;
font-size: 15px;
}

#mainInput {
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color: rgb(31, 31, 31);
text-align:center;
font-size: 15px;
}

h1{
color: white; 
font-family: fantasy;
font-size: 30px;
text-align: center;
}

img {
  height: 200px;
  width: 200px; 
}

body {
background-image: url("milky-way-1845068_1920.jpg");
text-align: center;
}

#mainButton, .poster{
  cursor: pointer; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  background-color: rgba(46, 49, 49, .5);
  padding: 10px;
  margin: 10px;
  font-family:'Roboto',sans-serif;
  color: rgb(137, 144, 150);
}


