
body {
  background-color:rgba(33, 33, 33, 0.9);
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  z-index: auto;
  box-sizing: border-box;
  overflow-x: hidden;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

/* Search Section  */

.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 20px auto;
}

#mainButton {
padding:0.35em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family: 'lato',sans-serif;
font-weight:500;
width: 200px;
color: rgb(190, 190, 190);
border: 0.1em solid rgba(100, 100, 100, 0.3);
background-color: rgba(100, 100, 100, .6);
text-align:center;
font-size: 16px;
}

#mainInput {
padding:0.35em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family: 'lato',sans-serif;
font-weight:500;
width: 200px;
color: rgb(16, 16, 16);
border: 0.1em solid rgba(255, 255, 255, .4);
background-color: rgba(255, 255, 255, .4);
text-align:center;
font-size: 16px;
}

/* Header and Nav Menu  */

nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgba(46, 49, 49, .8);
  font-family:'lato',sans-serif;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgba(133, 133, 133, 0.8);
}

nav a{
  text-decoration: none;
  align-items: center;
  margin: 0 3vw;
  padding: 1vw 0.1vw;
  font-size: 1.1em;
  color: rgb(137, 144, 150);
  text-decoration: none;
  background: -webkit-linear-gradient(rgb(196, 196, 196), #44596d);
              background-clip: text;             
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;

}

nav a:hover {
  background: -webkit-linear-gradient(rgb(192, 64, 64), #4e0f13);
              background-clip: text; 
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;            
}

/* NASA Image Gallerie Title  */

h1 {
text-align: center; 
padding: 80px 0 10px 0;
margin: 0 auto;
font-size: 3vw;
}

h1 a {
  font-weight: 300;
  letter-spacing: 10px;
  font-family: 'lato',sans-serif;
  color: rgb(137, 144, 150);
  text-decoration: none;
  background: -webkit-linear-gradient(rgb(196, 196, 196), #44596d);
              background-clip: text;             
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
}

h1 a:hover{
  background: -webkit-linear-gradient(rgb(192, 64, 64), #4e0f13);
              background-clip: text; 
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;            
}

/* Image of the day section  */

.mainImageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  margin: 0 auto;
  width: 80vw;
}

.mainImageDiv{
  flex-grow: 1;
  margin: 0 auto;
  width: 600px;
}

.mainImg{
  margin: 0 auto;
  max-width: 100%;
  animation: fadein 2s;
}

.mainVideo {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 315px;
  border: none;
  margin: 0 auto;
  padding: 0;
  animation: fadein 2s;
}

.mainTitleAndDescription{
  flex-grow: 1;
  font-family:'lato',sans-serif;
  color: rgb(155, 155, 155);
  background-color: rgba(20, 20, 20, 0.4);
  margin: 0 auto;
  padding: 0 50px 20px 50px; 
  text-align: justify;
  width: 500px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  animation: fadein 2s;
}

h3 {
  font-size: 18px;
  font-family: 'lato',sans-serif;
  font-weight: 400;

}

/* Search results section  */

#results{
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: inherit;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 13px;
  font-family:'lato',sans-serif;
  color: rgb(137, 144, 150);
}

.divImgAndTitle{
  margin: 5px;
  min-height: 300px;
  width: 225px; 
  background-color: rgba(46, 49, 49, .5);
}

.divImage{
  margin: 5px;
  width: 200px; 
}

.poster {
  margin: 5px;
  max-width: 200px; 
  max-height: 220px;
}

.divSearchImgInfo{
  overflow: hidden;
  max-width: 200px;
  vertical-align: text-top;
  text-align: left;
  margin: -10px 1px 1px 10px; 
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px 40px 20px;
  font-family:'lato',sans-serif;
  color: rgb(137, 144, 150);
}

/* General */

a {
  font-family:'lato',sans-serif;
  color: rgb(137, 144, 150);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(161, 46, 46);
}

/* Cursor  */

#mainButton, .poster{
  cursor: pointer; 
}

/* Contact page */

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0.9em 3em;
  font-size: 18px;
  font-weight: 300;
  font-family:'lato',sans-serif;
  color: rgb(137, 144, 150);
}

.email-wrapper {
  margin: 90px auto 120px auto;
}

.email-wrapper a {
  font-size: 18px;
  padding: 1em;
  border: 0.07em solid rgb(161, 46, 46);
  text-decoration: none;
  background: transparent;
  transition: 0.5s ease-in-out;
}

.email-wrapper a:hover {
  color: white;
  background-color: rgb(161, 46, 46);
}

.social-media-icons a svg {
  margin: 0.5em;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.social-media-icons a svg:hover {
  fill: rgb(161, 46, 46);
}


/* Stars Animation Background */
/* Source: https://codepen.io/WebSonick/pen/vjmgu */

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index:-3;
}

.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
z-index:-2;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
  z-index:-1;

-moz-animation:move-clouds-back 200s linear infinite;
-ms-animation:move-clouds-back 200s linear infinite;
-o-animation:move-clouds-back 200s linear infinite;
-webkit-animation:move-clouds-back 200s linear infinite;
animation:move-clouds-back 200s linear infinite;
}

/* Mobile */
@media (min-width: 481px) and (max-width: 767px) {

  .mainImageContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
  }

  .mainVideo {
    width: 100%;
    min-height: 515px;
  }

  .searchSection{
    flex-direction: column;
  }
} 

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .mainImageContainer{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
  }

  .mainImageDiv{
    width: 800px;
  }

  .mainTitleAndDescription{
    width: 700px;
    font-size: 18px;
    line-height: 60px;
  }

  .mainVideo {
    width: 100%;
    min-height: 515px;
  }

  h1 {
    padding-top: 2.5em;
    font-size: 65px;
  }

  nav a {
    padding: 1em 0;
    font-size: 2em
  }

  p, h3 {
    font-size: 2em;
  }

  #mainButton, #mainInput {
    font-size: 30px;
    min-width: 400px;
  }

  .email-wrapper a {
    font-size: 2.3em;
  }

}



