/* Search Section  */

.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

#mainButton {
padding:0.35em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family: 'lato',sans-serif;
font-weight:500;
width: 200px;
color: rgb(190, 190, 190);
border:0.1em solid rgba(100, 100, 100, 0.3);
background-color: rgba(100, 100, 100, .6);
text-align:center;
font-size: 16px;
}

#mainInput {
padding:0.35em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family: 'lato',sans-serif;
font-weight:500;
width: 200px;
color: rgb(16, 16, 16);
border:0.1em solid rgba(255, 255, 255, .4);
background-color: rgba(255, 255, 255, .8);
text-align:center;
font-size: 16px;
}

/* NASA Image Gallerie Title  */

h1{
position: relative; 
top: 50%; 
left: 0; 
right: 0; 
color: #FFF;
text-align: center; 
font-family: 'lato',sans-serif;
font-weight: 300;
font-size: 40px;
letter-spacing: 10px;
background: -webkit-linear-gradient(white, #38495a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

/* Body and selectors  */

body {
background-image: url("milky-way-1845068_1920.jpg");
margin: 0;
}

#mainButton, .poster{
  cursor: pointer; 
}

/* Image of the day section  */

.mainImageContainer{
  display: flex;
  flex-wrap: wrap;
  flex-basis: content;
  justify-content: space-around;
  margin: 0 auto;
  width: 100vw;
}

.mainImageDiv{
  display: flex;
  margin: 0 auto;
  width: 700px;
}

.mainImg{
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  align-content: center;
  justify-content: inherit;
}

.mainTitleAndDescription{
  font-family:'lato',sans-serif;
  color: rgb(155, 155, 155);
  background-color: rgba(20, 20, 20, 0.6);
  line-height: 1.4em;
  margin: 0 auto;
  padding: 0 50px 20px 50px; 
  text-align: justify;
  width: 600px;
  font-size: 16px;
  font-weight: 300;
}

h3 {
  font-size: 18px;
  font-family: 'lato',sans-serif;
  font-weight: 400;

}

/* Search results section  */

#results{
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: inherit;
  margin: 0 auto;
  padding: 10px;
  font-family:'lato',sans-serif;
  color: rgb(137, 144, 150);
}

.divImgAndTitle{
  margin: 5px;
  max-height: 300px;
  width: 225px; 
  background-color: rgba(46, 49, 49, .8);
}

.divImage{
  margin: 5px;
  width: 200px; 
}

.poster {
  margin: 5px;
  max-width: 200px; 
  max-height: 220px;
}

.divSearchImgInfo{
  overflow: hidden;
  max-width: 200px;
  vertical-align: text-top;
  text-align: left;
  margin: -20px 1px 1px 10px; 
}


/* Header and Nav Menu  */

header{
  background-color: rgba(140, 140, 140, .1);
  align-content: center;
  justify-content: center;
  width: 100vw;
  margin: 0 auto; 
  padding: 0 0 30px 0; 
}

nav{
  background-color: rgba(46, 49, 49, .5);
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  padding: 10px 0 5px 0;
  font-family:'lato',sans-serif;
  color: rgb(255, 255, 255);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

li {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  align-content: space-evenly;
  margin: 0 2vw;
  font-size: 18px;
  background: -webkit-linear-gradient(rgb(196, 196, 196), #44596d);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px 40px 20px;
  font-family:'lato',sans-serif;
  color: rgb(137, 144, 150);
  background: -webkit-linear-gradient(white, #38495a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

a {
  font-family:'lato',sans-serif;
  color: rgb(137, 144, 150);
  text-decoration: none;
}

/* Contact page */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0 200px 0;
  font-size: 18px;
  font-family:'lato',sans-serif;
  color: rgb(137, 144, 150);
  background-color: rgba(46, 49, 49, .5);
  width: 100vw;
}




/*change the layout of the navigation bar for all the screens 
that have a width less or equal than 500px*/

@media only screen and (max-width: 500px) {
  /*shows elements in a column*/
  ul{
    flex-direction: column;
  }
  
  /* deletes margin on top or bottom of the a tag*/
  li{
    margin: 0;
    padding: 10px;
  }

  h1 {
    font-size: 30px;
  }

  .searchSection{
    flex-direction: column;
  }
  
} 