/* Search Section  */

.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

#mainButton {
padding:0.35em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family: 'lato',sans-serif;
font-weight:500;
width: 200px;
color: rgb(190, 190, 190);
border:0.1em solid rgba(100, 100, 100, 0.3);
background-color: rgba(100, 100, 100, .6);
text-align:center;
font-size: 16px;
}

#mainInput {
padding:0.35em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family: 'lato',sans-serif;
font-weight:500;
width: 200px;
color: rgb(16, 16, 16);
border:0.1em solid rgba(255, 255, 255, .4);
background-color: rgba(255, 255, 255, .8);
text-align:center;
font-size: 16px;
}

/* NASA Image Gallerie Title  */

h1{
position: relative; 
top: 50%; 
left: 0; 
right: 0; 
color: #FFF;
text-align: center; 
font-family: 'lato',sans-serif;
font-weight: 300;
font-size: 40px;
letter-spacing: 10px;
background: -webkit-linear-gradient(white, #38495a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

/* Image of the day section  */

.mainImageContainer{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;
}

.mainImageDiv{
  margin: 0 auto;
  width: 600px;
}

.mainImg{
  margin: 0 auto;
  max-width: 100%;
}

.mainTitleAndDescription{
  font-family:'lato',sans-serif;
  color: rgb(155, 155, 155);
  background-color: rgba(20, 20, 20, 0.4);
  line-height: 1.4em;
  margin: 0 auto;
  padding: 0 50px 20px 50px; 
  text-align: justify;
  width: 500px;
  font-size: 16px;
  font-weight: 300;
}

h3 {
  font-size: 18px;
  font-family: 'lato',sans-serif;
  font-weight: 400;

}

/* Search results section  */

#results{
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: inherit;
  margin: 0 auto;
  padding: 10px;
  font-family:'lato',sans-serif;
  color: rgb(137, 144, 150);
}

.divImgAndTitle{
  margin: 5px;
  max-height: 300px;
  width: 225px; 
  background-color: rgba(46, 49, 49, .5);
  border-radius: 10px;
}

.divImage{
  margin: 5px;
  width: 200px; 
}

.poster {
  margin: 5px;
  max-width: 200px; 
  max-height: 220px;
}

.divSearchImgInfo{
  overflow: hidden;
  max-width: 200px;
  vertical-align: text-top;
  text-align: left;
  margin: -20px 1px 1px 10px; 
}


/* Header and Nav Menu  */

header{
  background-color: rgba(140, 140, 140, .1);
  align-content: center;
  justify-content: center;
  width: 100vw;
  margin: 0 auto; 
  padding: 0 0 30px 0; 
}

nav{
  background-color: rgba(46, 49, 49, .5);
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  padding: 10px 0 5px 0;
  font-family:'lato',sans-serif;
  color: rgb(255, 255, 255);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

li {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  align-content: space-evenly;
  margin: 0 2vw;
  font-size: 18px;
  background: -webkit-linear-gradient(rgb(196, 196, 196), #44596d);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px 40px 20px;
  font-family:'lato',sans-serif;
  color: rgb(137, 144, 150);
  background: -webkit-linear-gradient(white, #38495a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

a {
  font-family:'lato',sans-serif;
  color: rgb(137, 144, 150);
  text-decoration: none;
}

/* Cursor  */

#mainButton, .poster{
  cursor: pointer; 
}

/* Contact page */

.contact {
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0 300px 0;
  font-size: 18px;
  font-family:'lato',sans-serif;
  color: rgb(137, 144, 150);
  background-color: rgba(46, 49, 49, .5);
  width: 100vw;
}


/* Stars Animation Background */
/* Source: https://codepen.io/WebSonick/pen/vjmgu */

body {
  background-color:rgba(33, 33, 33, 0.9);
  margin: 0;
  width: 100vw;
  position:relative;
  z-index:auto;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index:-3;
}

.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
z-index:-2;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
  z-index:-1;

-moz-animation:move-clouds-back 200s linear infinite;
-ms-animation:move-clouds-back 200s linear infinite;
-o-animation:move-clouds-back 200s linear infinite;
-webkit-animation:move-clouds-back 200s linear infinite;
animation:move-clouds-back 200s linear infinite;
}



/* Change the layout of the navigation bar for all the screens 
that have a width less or equal than the breakpoint targeted */

/* Mobile */
@media (min-width: 481px) and (max-width: 767px) {

  .mainImageContainer{
    display: flex;
    flex-wrap: wrap;
  }

  ul{
    flex-direction: column;
  }

  li{
    margin: 0;
    padding: 10px;
  }

  h1 {
    font-size: 30px;
  }

  .searchSection{
    flex-direction: column;
  }
} 

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 35px;
  }
}