.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 0px 0px;
  margin: 0 auto;
}

#mainButton {
padding:0.35em 1.2em;
border:0.1em solid rgba(140, 140, 140, .5);
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color: rgb(255, 255, 255);
background-color: rgba(140, 140, 140, .8);
text-align:center;
font-size: 15px;
}

#mainInput {
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color: rgb(31, 31, 31);
text-align:center;
font-size: 15px;
}

h1{
position: relative; 
top: 50%; 
left: 0; 
right: 0; 
color: #FFF;
text-align: center; 
font-family: 'lato',sans-serif;
font-weight: 300;
font-size: 50px;
letter-spacing: 10px;
background: -webkit-linear-gradient(white, #38495a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

body {
background-image: url("milky-way-1845068_1920.jpg");
}


#mainButton, .poster, h1{
  cursor: pointer; 
}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-evenly;
  margin: 10px;
  padding: 5px;
  font-family:'lato',sans-serif;
  background-color: rgba(46, 49, 49, .5);
  color: rgb(137, 144, 150);
}

.mainImageContainer{
  display: flex;
  flex-wrap: wrap;
  flex-basis: content;
  justify-content: space-evenly;
  margin: 0 auto;
}

.mainImg{
  display: flex;
  margin: 0 auto;
  width: 60%;
}

.mainTitle{
  font-family:'lato',sans-serif;
  color: rgb(137, 144, 150);
  background-color: rgba(46, 49, 49, .5);
  margin: 0 auto;
  padding: 0 100px; 
  text-align: justify;
}

.poster{
  margin: 5px;
  height: 200px; 
  width: 200px; 
}

.title-header{
  overflow: hidden;
  max-width: 100px;
  height: 62px;
  align-content: center;
  vertical-align: text-top;
}





